/* .Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  margin-inline: 15%;
}

.user-area {
  background-color: aliceblue;
  flex: 1;
  border-radius: 10px;
}

.chat-area {
  flex: 1;
  background-color: aliceblue;
  border-radius: 10px;
}

.rooms-area {
  flex: 1;
  background-color: aliceblue;
  border-radius: 10px;
} */
